<p id="notice"><%= notice %></p>



<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= @post.likes.size %>명이 좋아합니다.
<% @post.liked_users.each do |liked_users|  %>
  <li>
    <%= liked_users.email %>
  </li>
  
<% end %>

<% if current_user.is_like?(@post) %>
  <%= link_to "좋아요 취소", post_like_path(@post), method: "POST" %>
<% else %>
  <%= link_to "좋아요", post_like_path(@post), method: "POST" %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
